@charset "UTF-8";
body {
    background-color: rgb(46, 80, 69);
    font-family: Arial, Helvetica, sans-serif;
}
#principal {
    color: rgb(19, 230, 159);
    text-align: center;
    background-color: azure;
}
h1 {
   color: rgb(19, 230, 159); 
}
h2 {
    color: aqua;
}
p {
    text-align: justify;
}

/*
    Em HTML EH id = em CSS eh #
    Em Html eh class = em CSS eh .
*/

.basico {
    color: rgb(161, 161, 37);
}
.intermediario {
    color:rgb(96, 197, 96);    
}
.avancado {
    color: rgb(179, 29, 29);
}